---
layout: default
---


{% for social-card in site.data.social-cards %}


<div class="col s12 m4 {{ social-card.side }}">
  <div class="card">
    <div class="card-image">

      <img src="{{ asset-path }}img/actors/{{ social-card.Image_URL }}">
      <span class="card-title">{{ social-card.Name }}
        <br/>
        {{ social-card.Character }}
        <i class="fa fa-{{ social-card.side }}"></i>
      </span>
    </div>
    <div class="card-content">
     <p class="center">
      {% if social-card.Facebook %}
        <a class="{{ social-card.Name | replace: ' ','-' }} ga-event-click btn-floating waves-effect waves-light black ga-fb-event" href="https://facebook.com/{{ social-card.Facebook }}" target="_blank">
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </a>
      {% endif %}
      {% if social-card.Twitter %}
        <a class="{{ social-card.Name | replace: ' ','-' }} ga-event-click btn-floating waves-effect waves-light black ga-twitter-event" href="https://twitter.com/{{ social-card.Twitter }}" target="_blank">
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </a>
      {% endif %}
      {% if social-card.Instagram %}
        <a class="{{ social-card.Name | replace: ' ','-' }} ga-event-click btn-floating waves-effect waves-light black ga-instagram-event" href="https://instagram.com/{{ social-card.Instagram }}" target="_blank">
          <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </a>
      {% endif %}
      {% if social-card.Vine %}
        <a class="{{ social-card.Name | replace: ' ','-' }} ga-event-click btn-floating waves-effect waves-light black ga-follow-event" href="https://vine.co/u/{{ social-card.Vine }}" target="_blank">
          <i class="fa fa-vine fa-stack-1x fa-inverse"></i>
        </a>
      {% endif %}
      {% if social-card.Snapchat %}
        <a class="{{ social-card.Name | replace: ' ','-' }} ga-event-click btn-floating waves-effect waves-light black modal-trigger ga-snapchat-event" href="#{{ social-card.Snapchat }}">
          <i class="fa fa-snapchat fa-stack-1x fa-inverse"></i>
        </a>
      {% endif %}
      </p>
    </div>
  </div>
</div>

  {% if social-card.Snapchat %}
  <!-- Share Modal Structure START -->
  <div id="{{ social-card.Snapchat }}" class="modal">
    <div class="row">
      <div class="modal-content center-align">
        <img class="responsive-img snapchat-modal" src="{{ asset-path }}img/snapchat.png">
      </div>
      <div class="modal-footer">
      <p class="center">Snapchat: {{ social-card.Snapchat }} </p>
        <!-- <a href="#!" class="modal-action modal-close waves-effect waves-light btn">Share to your Wall</a> -->
      </div>
    </div>
  </div>
  <!-- Share Modal Structure  END -->
  {% endif %}
{% endfor %}
