
  <nav class="white" role="navigation" style="z-index: 20000;">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{ site.url }}" class="brand-logo">
        <img src="{{ site.url }}apple-touch-icon-57x57-precomposed.png">
      </a>
<!--       <ul class="right hide-on-med-and-down">
        <li><a href="#actors-section"> Cast </a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#actors-section"> Cast </a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
    </div>
  </nav>
