
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <h2 class="header col s12 light">Follow The Force</h2> 
          <h5 class="light">Social Media for Starwars Fans</h5>
          <h1 class="header col s6 light rebelsbutton"><a class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="Show Rebels Only"><i class="fa fa-rebel"></i></a></h1>
          <h1 class="header col s6 light empirebutton"><a class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="Show Empire Only"><i class="fa fa-empire"></i></a></h1>
          <h3><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Show All"><i class="fa fa-refresh center show-all" style="display:none;"></i></a></h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ site.url }}img/choose-narrow.png" alt="Unsplashed background img 1"></div>       
  </div>
