<!DOCTYPE html>
<html>

  {% include head.html %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <body>

    {% include header.html %}
    {% include top-banner.html %}  

    <div class="container section scrollspy" id="actors-section">
      <div class="row">
  
          {{ content }}
 
      </div>
    </div>
    {% include bottom-banner.html %}  
    {% include footer.html %}

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.js"></script>
  <script src="{{ site.url }}js/init.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".empirebutton").click(function(){
          $(".rebel, .question-circle, .film").hide();
          // reveal the show all button
          $(".show-all").addClass('animated fadeIn').show();
          // unhide if class has previously been hidden
          if ( $(".empire").css('display') == 'none' ){
              $(".empire").addClass('animated fadeIn').show();
          }
      });
      $(".rebelsbutton").click(function(){
          $(".empire, .question-circle, .film").hide();
          // reveal the show all button
          $(".show-all").addClass('animated fadeIn').show();
          // unhide if class has previously been hidden
          if ( $(".rebel").css('display') == 'none' ){
              $(".rebel").addClass('animated fadeIn').show();
          }
      });
      $(".show-all").click(function(){
          $(this).hide();
          $(".empire, .rebels, .question-circle, .film").addClass('animated fadeIn').show();
      });
      // $( ".show-all" ).hover(function() {
      //   $(this).addClass("fa-spin");
      // });
    }); 
  </script>
</html>
